    .input-content{

        background-color: white;
          font-family: 'HelveticaNeue-Light';


        .input-email{}
        img.ico{}

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

        input[type="text"],input[type="password"]{
            display: inline-block;
            width: ~"calc(100% - 2em)";

            background-color: none;
            padding: 1em;

            font-size: 1em;

            box-sizing: border-box;
            border: none;
            
        }


        &.error{
            border: 2px solid @color-red;
              font-family: 'HelveticaNeue-Light';

        }

        &.on-focus {
            background-color: white !important;
        }

    }
