// ------------------------------------ //
// -- @Import's Resources ------------- //
// ------------------------------------ //
    @import (reference) './../../main.less';
// ------------------------------------ //


// ------------------------------------ //
// -- Form Group Less ---------------- //
// ------------------------------------ //
.form-group{

    display: block;

    width: 100%;
    height: auto;
    
    padding: 1em;
    margin: 0em;
    box-sizing: border-box;

    background-color: @color-white;

}
// ------------------------------------ //

