
/**

    <button class="button no-solid">
      <h2 class="button-title">CREATE ACCOUNT</h2>
      <h3 class="button-subtitle">I'M NEW IN TOK</h3>
    </button>

*/
div.buttons{
    display: block;
    width: 100%;
    margin: 0 auto;
}

button.button{  

    display: block;
    width: 100%;
    height: auto;

    box-sizing: border-box;

    padding: 0.5em;
    margin: 0em;

    background-color: rgba(0,0,0,0);
    color: black;

    font-family: 'HelveticaNeue-Bold';
    font-size: 1em;
    font-weight: 500;
    
    border-radius: 10em;
    border-color: rgba(0,0,0,0);

    &.theme{
        &-dark{
            background-color: @color-black;
            color: @color-white;
        }
        &-light{
            background-color: @color-white;
            color: @color-black;
        }
        &-transparent{
             background-color: rgba(0,0,0,0,0);
            &-dark{
                color: @color-black;
            }
            &-light{
                color: @color-white;
            }
        }
    }

    &.size{
        &-single-line{
            h2.button-title{
                font-size: 1em;
            }
        }
        &-double-line{
            h2.button-title{
                font-size: 0.7em;
            }
            h3.button-subtitle{
                font-size: 0.5em;
                opacity: 0.8;
            }
        }
    }


}


